<script src="Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="signalr/hubs"></script>
<!--<script src="Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="signalr/hubs"></script>
<script src='/signalr/js'></script>-->
    <div class="container"></div>

  



    <style>
    </style>
   
        
            <div class='col-md-2' style="position: relative; left: 30px;"  ng-repeat="userModel in $ctrl.UsersDiscussion">
                <div class="chat-section">
                    <ul id="discussion">
                        <li ng-repeat="line in userModel.UserDiscussion">
                            {{line}}
                        </li>


                    </ul>
                </div>
                <div class="text-bar">
                    <input ng-model="userModel.TextMessage" type="text" id="message" placeholder="Write messege"><i class="fa fa-arrow-right" aria-hidden="true" id="sendmessage" ng-click="$ctrl.SendAdminMessage(userModel)"></i>
                </div>
            </div>
       
       

    <script type="text/javascript">
        //$(function () {
        //    // Declare a proxy to reference the hub.
        //    var chat = $.connection.chatHub;
        //    // Create a function that the hub can call to broadcast messages.
        //    chat.client.addNewMessageToPage = function (name, message, id) {
        //        // Html encode display name and message.
        //        var encodedName = $('<div />').text(name).html();
        //        var encodedMsg = $('<div />').text(message).html();
        //        // Add the message to the page.
        //        if ($("ul." + id).length > 0) {
        //            $("#" + id).append('<li><strong>' + encodedName
        //                + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
        //        }
        //        else {

        //            $(".parent-div").append("<ul id='" + id + "'></ul>");
        //            $("#" + id).append('<li><strong>' + encodedName
        //                + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');

        //        }
        //        //$('#discussion').append('<li><strong>' + encodedName
        //        //    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
        //    };

        //    chat.client.adminReceiveFromUser = function (name, message, id) {
        //        // Html encode display name and message.
        //        $("#discussion").append("<li>from " + name + ": " + message + "</li>");
        //        $("#sendmessage").attr('userName', name);
        //        $("#sendmessage").attr('userId', id);
        //        $("#sendmessage").click(function () {
        //            debugger
        //            var user = $(this).attr("userName");
        //            var userId = $(this).attr("userId");
        //            //send message to user
        //            var text = $("#message").val();
        //            $("#discussion").append("<li>me: " + text + "</li>");
        //            chat.server.sendToUser("Admin", user, text);
        //        });

        //        if ($("#" + id).length == 0) {
        //            // add html elements for this user
        //            //var maineContainer = $("#usersChats");
        //            //var chatBox = maineContainer.append("<div class='col-md-1'></div>");
        //            //var ul = chatBox.append("<ul id='ul_" + id + "'></ul><br/>");
        //            //ul.append("<li>" + message + "</li>");
        //            //chatBox.append("<input type='text' id='tx_" + id + "' /><br/>");
        //            //chatBox.append("<input type='button' userId='" + id + "' userName='" + name + "' id='bt_" + id + "' /><br/>");
        //            //var button = $("#bt_" + id);
        //            //button.click(function () {
        //            //    debugger
        //            //    var user = $(this).attr("userName");
        //            //    var userId = $(this).attr("userId");
        //            //    //send message to user
        //            //    chat.server.sendToUser("Admin", user, $("#tx_" + userId).val());
        //            //});
        //        }
        //        //var encodedName = $('<div />').text(from).html();
        //        //var encodedMsg = $('<div />').text(message).html();
        //        //// Add the message to the page.
        //        //$('#discussion').append('<li>privte message from: <strong>' + encodedName
        //        //    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
        //    };

        //    // Get the user name and store it to prepend to messages.
        //    $('#displayname').val(prompt('Enter your name:', ''));
        //    // Set initial focus to message input box.
        //    $('#message').focus();
        //    // Start the connection.
        //    $.connection.hub.start().done(function () {

        //        var id = $.connection.hub.id;
        //        chat.server.registerAdmin($('#displayname').val(), id);
        //        //$('#sendToUser').click(function () {
        //        //    debugger
        //        //    chat.server.sendToUser($('#displayname').val(), $('#toUser').val(), $('#message').val());
        //        //});

        //        //$('#sendToUser').click(function () {


        //        //    // Call the Send method on the hub.

        //        //    var id = $.connection.hub.id;

        //        //    chat.server.sendToUser($('#displayname').val(), $('#toUser').val(), $('#message').val());
        //        //    // Clear text box and reset focus for next comment.
        //        //    $('#message').val('').focus();
        //        //});
        //    });
        //});
        $(document).ready(function () {
            $(".left-first-section").click(function () {
                $('.main-section').toggleClass("open-more");
            });
        });
        $(document).ready(function () {
            $(".fa-minus").click(function () {
                $('.main-section').toggleClass("open-more");
            });
        });
    </script>

