<div class="col-md-12">
    <h3>Reset password</h3>


    <div class="col-md-4">
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="$ctrl.ChangePassworVM.Password" />
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="$ctrl.ChangePassworVM.NewPassword" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="ConfirmPassword" ng-model="$ctrl.ChangePassworVM.ConfirmPassword" />
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="$ctrl.ChangePasswordClick()">Reset Password</button>
            <br /><br />
            <span ng-show="$ctrl.ChangePassworVM.ShowError" class="error-message">{{$ctrl.ChangePassworVM.ErrorMessage}}</span>
        </div>

    </div>

</div>