<div style="position: relative; left: 30px;" class="col-md-12">
    <h3>Reset password</h3>


    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" ng-model="$ctrl.ResetPassworVM.Email " />
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="$ctrl.ResetPassworVM.NewPassword" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="ConfirmPassword" ng-model="$ctrl.ResetPassworVM.ConfirmPassword" />
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="$ctrl.ResetPassword()">Reset Password</button>
            <br /><br />
            <span ng-show="$ctrl.ResetPassworVM.ShowError" class="error-message">{{$ctrl.ResetPassworVM.ErrorMessage}}</span>
        </div>

    </div>

</div>