<span class="counter pull-right"></span>
   <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
<div class="col-md-4 col-sm-6">
    <div class="products-number">

        <strong>Show</strong>  <a href="" class="btn btn-default btn-sm" ng-class="$ctrl.PaginationVM.ItemsOnPage == 12 ? 'btn-primary' :''" ng-click="$ctrl.SetItemsPerPage(12)">12</a>  <a href="" class="btn btn-default btn-sm" ng-class="$ctrl.PaginationVM.ItemsOnPage== 24 ? 'btn-primary' :''" ng-click="$ctrl.SetItemsPerPage(24)">24</a>  <a href="" class="btn btn-default btn-sm " ng-click="$ctrl.ItemsOnPage()">All</a>

    </div>
</div>
<table class="table table-hover table-bordered results">
    
    <thead>
        <tr>
           
            <th class="col-md-5 col-xs-5">FirstName</th>
            <th class="col-md-5 col-xs-5">FirstName</th>
            <th class="col-md-4 col-xs-4">LastName</th>
            <th class="col-md-3 col-xs-3">Adress</th>
            <th class="col-md-2 col-xs-2">UserName</th>
            <th class="col-md-1 col-xs-1">Email</th>
        </tr>

    </thead>
    <tbody>
        <tr ng-repeat="user in $ctrl.UsersManagerVM.users" >
           
            <td data-sortable="'firstName'">{{user.PageVM.FirstName}}</td>
            <td >{{PageVM.FirstName}}</td>
            <td>{{user.UserDetailsDto.LastName}}</td>
            <td>{{user.UserDetailsDto.Address}}</td>
           
            <td>{{user.Email}}</td>
            <td >
                <a href="/index.html#!/userdetails?id={{user.Id}}">Edit</a>
                <button >Detele</button>
            </td>
            
        </tr>
       
    </tbody>
</table>
