
    <div style="position: relative; left: 30px;">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="Firstname" ng-model="$ctrl.UserDetailsVM.FirstName">

        <div>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="Lastname" ng-model="$ctrl.UserDetailsVM.LastName">

            <div>
                <label for="adrr">Addres</label>
                <input type="text" id="adrr" name="Address" ng-model="$ctrl.UserDetailsVM.Address">
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" name="Email" ng-model="$ctrl.UserDetailsVM.Email">
                    <div>
                        <nav>
                            <label for="adrr"> Current Roles</label>
                            <ul>

                                <li ng-repeat="role in $ctrl.UserDetailsVM.Roles">
                                    {{role}}

                                </li>
                            </ul>
                        </nav>
                        </div>
                    <div >
                        <div class="products-sort-by">
                            <label for="email">Add a new role</label>
                            <select name="sort-by" class="form-control" ng-model="$ctrl.UserDetailsVM.Role">
                                <option>Company</option>

                                <option>NormalUser</option>
                                <option>Admin</option>

                            </select>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success" ng-click="$ctrl.EditUser()">Save</button>
</div>

